* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #292424;
    color: #FFF;
    display: block;
}

section{
    position: relative;
    display: block;
    transition: all 0.5s ease;
}


/* HEADER */


header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
    color: #FFF;
    width: 100%;
    background-color: #760F0F;
    box-shadow: 0px 50px 40px rgba(0, 0, 0, 0.2);
    
}


.logo-image{  
    position: static;
    display: flex;
    margin-left: 30px;
    object-fit: contain;
    height: 90px;
    cursor: pointer;
    z-index: 3;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

nav{
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.nav__links{
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    font-family: 'Inter', sans-serif;
    transition: all 0.5s ease; 
}


.nav__links li{
    display: flex;
    list-style: none;
    align-items: center; 
}

.nav__links li a {
    color: #FFF;
    min-width: 22px;
    display: inline-block;
    text-decoration: none;
    font-weight: 800;
    transition: all 0.5s ease-in-out;
}


.nav__links li a:hover{
    font-weight: 600;
    color: #FFF;
    transition: all 0.3s ease-in-out;
}

.nav__links li a::after{
    content: '';
    position: static;
    display: block;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #FFF;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav__links li a:hover::after {
    transform: scaleX(1);
  }

.contact-button{
    z-index: 2;
    background-color: #292424;
    padding: 15px 32px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
    margin-right: 3vh;
    border: none;
    font-family: 'Inter', sans-serif;
    color: #FFF;
    font-size: 20px;
    font-style: light;
    font-weight: 800;
    line-height: normal; 
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.contact-button:hover {
    box-shadow: none;
    color: #fff;
    transform: translateY(2px) translateX(2px);
}

.menu-logo{
    margin-right: 30px;
    font-size: 50px;
    z-index: 3;
}



/* HERO */


#Hero{
    position: relative;
    height: 500px;
    width: 100%;
}

.hero-content{
    position: absolute;
    top: 20%;
    left: 10%;
    width: clamp(100px, 50%, 500px);
    height: 60%;
    object-fit: contain;
}

.hero-title{
    position: relative;
    z-index: 2;
    width: 100%;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 800;
}

.hero-text{
    position: relative;
    z-index: 2;
    color: #FFF;
    width: 100%;
    font-family: 'Inter', sans-serif;
    color: #FFF;
    font-size: clamp(1rem, 5vw, 2rem);
    font-style: light;
    font-weight: 200;
    line-height: normal; 
}

.hero-button{
    position: relative;
    z-index: 2;
    background-color: #760F0F;
    margin-top: 10px;
    padding: 15px 32px;
    box-shadow: 5px 5px 2px rgba(129, 17, 17, 0.5);
    border: none;
    font-family: 'Inter', sans-serif;
    color: #FFF;
    font-size: 32px;
    font-style: light;
    font-weight: 800;
    line-height: normal; 
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.hero-button:hover {
    box-shadow: none;
    color: #fff;
    transform: translateY(2px) translateX(2px);
}



.second-images{
    position: absolute;
    justify-content: flex-end;
    top: 0;
    right: 0;
    width: 50vh;
    height: 100%;
    max-width: 100%;

}

.hero-image-background{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.25;
}

.hero-soldier{
    position: absolute;
    min-width: 235px;
    width: clamp(50%, 50vw, 100%);
    height: clamp(50%, 50vw, 90%);
    right: 0;
    bottom: 0;
    object-fit: contain;
    z-index: 1;
}



/*FIRST PRESENTATION*/


#FirstPresentation{
    display: flex;
    position: relative;
    justify-content: flex-start;
    height: 400px;
    width: 100%;

}

.presentation-background{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.presentation-images-container{
    flex: 1;
    right: 150%;
}


.presentation-soldier{
    position: absolute;
    min-width: 235px;
    width: clamp(50%, 50vw, 100%);
    max-height: 380px;
    right: 0;
    bottom: 0;
    object-fit: contain;
    z-index: 1;
}


#second-soldier{
    transform: scaleX(-1);
    left: 0;
}

.presentation-soldier-container{
    left: 0;
}

.presentation-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    flex: 1;
    align-self: center;
    z-index: 3;
}


.section-title{
    position: relative;
    width: 80%;
    font-family: 'Inter', sans-serif;
    font-size: clamp(1rem, 5vw, 3rem);
    font-weight: 800;
}

.section-text{
    position: relative;
    width: 80%;
    font-family: 'Inter', sans-serif;
    font-size: clamp(0.7rem, 3vw, 1.5rem);
    font-style: light;
    font-weight: 200;
    line-height: normal; 
}



/*SERVICIES BLOCKS*/

#ServiciesHomePage{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #760F0F;
    height: 400px;
}

#servicies-home-page-title{
    bottom: 1vh;
    text-align: center;
    width: 100%;
}

.blocks-container{
    position: relative;
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.blocks{
    flex-direction: column;
    margin: 10px;
    position: relative;
    display: flex;
    width: 300px;
}

.block-logos{
    text-align: center;
    width: clamp(40px, 3vw, 60px);
    height: clamp(40px, 3vw, 60px);
}

.block-titles{
    font-family: 'Inter', sans-serif;
    font-size: clamp(18px, 3vw, 28px);
    font-weight: 600;
}

.block-paragraphs{
    font-family: 'Inter', sans-serif;
    font-size: clamp(10px, 3vw, 20px);
    font-weight: 400;
    /* width: 33%; */
    margin-top: 3vh;
}

/*SECOND PRESENTATION*/

#SecondPresentation{
    display: flex;
    position: relative;
    justify-content: flex-start;
    height: 400px;
    width: 100%;
    height: 400px;
    background-color: #292424;
}

.second-presentation-soldier{
    left: 0;
}

/*THIRD PRESENTATION*/

#ThirdPresentation{
    display: flex;
    position: relative;
    justify-content: flex-start;
    height: 400px;
    width: 100%;
    height: 400px;
    background-color: #760F0F;
}

.third-presentation-images-container{
    order: 2;
    background-color: #292424;
}

.third-presentation-content{
    order: 1;
}

.third-presentation-soldier{
    z-index: 3;
}

.third-presentation-background{
    opacity: 0.5;
}

#Stats{
    position: relative;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.special-block-containing-stats{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.stat-blocks{
    text-align: center;
    align-content: center;
    width: clamp(100px, 300px, 300px)
}

.stat-block-logo{
    width: clamp(40%, 98%, 98%); 
    height: 100px;
    object-fit: contain;
}

.stat-block-number{
    margin-bottom: 1vh;
}

.stat-block-title{
    font-size: clamp(12px, 3vw, 28px);

}

#Places{
    position: relative;
    height: 400px;
}

.places-title-row{
    position: relative;
    display: flex;
    height: 20%;
    background-color: #760F0F;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.places-container{
    position: relative;
    display: flex;
    height: 100%;
}

.place-block{
    width: 100%;
    height: 100%;
}

.place-image{
    width: 100%;
    height: 80%;
    object-fit: cover;
    opacity: 0.25;
}

.place-content{
    display: flex;
    justify-content: center;
    width: 33.33%;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    position: absolute;
    top: 30%;
}

.place-title{
    font-size: clamp(12px, 3vw, 40px);
}

footer{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #292424;
    height: 200px;
}

.logo-image-footer{
    display: flex;
    object-fit: contain;
    height: 150px;
    width: 150px;
    cursor: pointer;
}



#check:checked ~ ul {
    left: 0;
    background: aqua;
}




 @media all and (max-width: 768px) {

    .menu-logo{
        display: block !important;
    }
    
    .nav__links{
        /* display: none; */
        top: 0;
        flex-direction: column;
        position: fixed;
        background-color: #292424;
        height: 100vh;
        left: -100%;
    }

    .nav__links li {
        flex-direction: column;
        font-size: 48px;
    }


    .contact-button{
        display: none;
    }

}

@media all and (max-width: 490px){

    .nav__links li {
        font-size: 24px;
    }


    .logo-image{
        margin-left: 3vh;
    }

}

@media all and (max-width: 370px){
    .blocks-container {
        flex-direction: column;
    }


    .blocks:not(.stat-blocks) {
        flex-direction: column;
        margin: 10px;
        position: relative;
        display: flex;
        width: 275px;
    }
}
